/*
   local variables
*/
:root{
	--local-body-background-image-path: url(/blog/usr/uploads/2021/10/3741127964.webp);
	--local-body-background-image-shade: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1));
	--local-theme-color: #ae8422;
}


/*
   navbar
*/
.navbar-color {
	background: none !important;
	-webkit-backdrop-filter: none !important;
	backdrop-filter: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.navbar > .container-fluid {
	padding: 0.5rem 1.25rem;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: .5rem;
	-webkit-box-shadow: 0 0.125rem 1.13125rem -0.3125rem rgba(0, 0, 0, 0.71);
	-moz-box-shadow: 0 0.125rem 1.13125rem -0.3125rem rgba(0, 0, 0, 0.71);
	box-shadow: 0 0.125rem 1.13125rem -0.3125rem rgba(0, 0, 0, 0.71);
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;
	opacity: 0.6;
	filter: blur(1px);
}
body.theme-sunset .navbar > .container-fluid {
	background-color: rgba(248,241,228,0.7);
}
body.theme-dark .navbar > .container-fluid {
	background-color: rgba(52, 50, 50, 0.7);
}
.show-back-to-top .navbar > .container-fluid {
	opacity: 1 !important;
	filter: none !important;
}
.navbar > .container-fluid:hover, 
.navbar > .container-fluid:focus-within {
	opacity: 1.0 !important;
	filter: none !important;
}
.navbar-nav.side-toolbar-list li a {
	border-radius: 0.75rem;
}
.navbar-search-container {
	border-radius: 0.75rem;
}

/*
   header
*/
body.use-navbar #masthead .inner {
	vertical-align: bottom;
	padding-top: 0;
}
.inner .container {
	text-align: left;
	margin: 0;
	padding: 4rem;
	padding-bottom: 6rem;
	text-shadow: 0 0 2rem rgba(0,0,0,0.3);
}
@media screen and (max-width: 759px) {
	.inner .container {
		padding: 2rem;
		padding-bottom: 4rem;
	}
}

/*
   body
*/
body.theme-dark #body {
	background: var(--local-body-background-image-shade), var(--local-body-background-image-path);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
#body-bottom {
	background: none;
}

/*
   in-post TOC sidebar
*/
a#toggle-menu-tree {
	border-radius: 0.3125rem;
}
a#toggle-menu-tree:hover{
	border-radius: 0.3125rem;
	width: 7.25rem;
	padding-left: 1.5rem;
}
#wrap.display-menu-tree a#toggle-menu-tree {
	height: 6.25rem;
	line-height: 6.25rem;
}
a#toggle-menu-tree.revert {
	color: #333 !important;
	background-color: rgba(255,255,255,0.9);
	border: 0.0625rem solid #f0f0f0;
}

/*
   scroll-to-top button
*/
#backtop {
	border-radius: .3125rem;
	right: -1rem;
	height: 4.75rem;
	line-height: 2.25rem;
	padding-left: 0.5rem;
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	pointer-events: none;
}
#backtop.show, body.show-back-to-top #backtop {
	pointer-events: initial;
}
#backtop:hover {
	right: .7rem;
	width: 5.75rem;
	padding-left: 1.1em;
	color: #000;
}
body.theme-dark #backtop:hover {
	color: #fff;
}
#backtop i {
	-webkit-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	-ms-transition: 0.1s ease all;
	-o-transition: 0.1s ease all;
	transition: 0.1s ease all;
}

/*
   in-post formatting
*/
.post-content img + br {
	display: initial;
}
.post-content p {
	text-align: initial !important;
}
.post-content .link-box p {
	text-align: center !important;
}
.post-content audio {
	width: 100%;
}

/*
   in-post bottom navigation
*/
.post-near {
	border-radius: 0.3125rem;
}
body.theme-sunset .post-near, body.theme-dark .post-near {
	border: unset;
}

/*
   in-post comment section
*/
body.theme-sunset #comment-form textarea, body.theme-dark #comment-form textarea {
	background: #e7e0d3 !important;
	border: unset;
}
body.theme-dark #comment-form textarea {
	background: rgba(255,255,255,0.04) !important;
}
#comment-form input#submit {
	border: unset;
	background: rgba(255,255,255,0.04);
	color: #333;
}
body.theme-white #comment-form input#submit {
	border: 0.0625rem solid #555;
	border-color: #ccc;
	background: #fafafa;
}
body.theme-sunset #comment-form input#submit, body.theme-sunset .OwO-logo {
	border: unset !important;
	background: #e7e0d3;
}
body.theme-dark #comment-form input#submit {
	color: #fff;
}
body.theme-dark .OwO-logo {
	border: unset;
	background: rgba(255,255,255,0.04);
}
body.theme-dark .OwO-body {
	border: unset !important;
	background: #222020 !important;
	box-shadow: 0 0 .5rem rgba(0,0,0,.25);
}
body.theme-dark .OwO-bar {
	background: rgba(255,255,255,0.12) !important;
	border-top: unset !important;
}
body.theme-dark .OwO-bar .OwO-packages .OwO-package-active {
	background: #222020 !important;
}

/*
   about page avatar
*/
#about-avatar {
	text-align: inherit;
}
#about-avatar img {
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	border-radius: 1rem;
}
#about-avatar img:hover {
	/* border-radius: 1rem;*/
	/* width: 200px; */
	/* height: 200px; */
	transform: scale(1.1);
	box-shadow: 0 0 1rem 0.125rem rgba(0,0,0,0.5);
}

/*
   mobile sidebar button
*/
a#toggle-nav {
	border-radius: 0rem;
}
